<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHID SIGN UP</title>
    <link rel="stylesheet" href="./assets/css/up.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/">Dealers</a>
        <a href="/">Services</a>
        <a href="/">Contact</a>
      </nav>
    </header>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form>
      <h3>Join Now</h3>
      <label for="username">Username</label>
      <input type="text" placeholder="emailor phone" id="username" />
      <label for="Password">Password</label>
      <input type="password" placeholder="password" id="password" />
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" id="confirm" required />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />

      <button>Join Now</button>
      <a
      href="/sign-in"
      style="
        position: relative;
        color: #5886db;
        padding: 5px 0;
      "
      >Already have an account Sign in</a
    >
      <div class="social">
        <div class="go"><i class="fab fa-google"></i>Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>facebook</div>
      </div>
    </form>
  </body>
</html>
