<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
    - primary meta tags
  -->
    <title>CHID - home</title>
    <meta name="title" content="chid- home" />
    <meta
      name="description"
      content="This is a booking service html template made by rechysites"
    />

    <!-- 
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="./images/favicon.png"
      type="image/svg+xml"
    />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="./css/index.css" />

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="./assets/images/hero-banner.png" />
    <link rel="preload" as="image" href="./assets/images/hero-bg.png" />
  </head>

  <body id="top">
    <!-- 
    - #PRELOADER
  -->

    <div class="preloader" data-preloader>
      <div class="circle"></div>
    </div>

    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <a href="#" class="logo">
          <img
            src="./images/logo.png"
            width="136"
            height="46"
            alt="CHID home"
          />
        </a>

        <nav class="navbar" data-navbar>
          <div class="navbar-top">
            <a href="#" class="logo">
              <img
                src="./images/logo.png"
                width="136"
                height="46"
                alt="CHID home"
              />
            </a>

            <button
              class="nav-close-btn"
              aria-label="clsoe menu"
              data-nav-toggler
            >
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#" class="navbar-link title-md">Home</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link title-md">Dealers</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link title-md">Services</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link title-md">Contact</a>
            </li>
          </ul>

          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
          </ul>
        </nav>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <a href="/sign-in" class="btn has-before title-md">Sign Up</a>

        <div class="overlay" data-nav-toggler data-overlay></div>
      </div>
    </header>

    <main>
      <h1>Sign-up</h1>
      <p>Already have an account? <a href="/sign-in">Sign in</a></p>
      <%if(locals.error){%>
      <p style="color: hsl(182, 100%, 35%)"><%=errorMessage%></p>
      <%}%>
      <form action="/sign-up" method="post" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />

        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm" required />

        <label for="image">Profile Image</label>
        <input type="file" name="image" id="image" required />

        <label for="brand">Car Brand</label>
        <input type="brand" name="brand" id="brand" required />

        <label for="location">location</label>
        <input type="location" name="location" id="location" required />

        <label for="bio">Biography </label>
        <textarea name="bio" id="bio" cols="30" rows="10" required></textarea>

        <input type="submit" value="Sign In" />
      </form>
    </main>
    <footer>&copy; CHID @ <%=new Date().getFullYear()%></footer>
  </body>
</html>
