<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHID SIGN UP</title>
    <link rel="stylesheet" href="./assets/css/sign.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/">Dealers</a>
        <a href="/">Services</a>
        <a href="/">Contact</a>
      </nav>
    </header>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form>
      <h3>Login Here</h3>
      <label for="username">Username</label>
      <input type="text" placeholder="emailor phone" id="username" />
      <label for="Password">Password</label>
      <input type="password" placeholder="password" id="password" />
      <button>Log In</button>
      <a
        href="/sign-up"
        style="position: relative; color: #3818ad; padding: 5px 0"
        >New Here Sign Up</a
      >
      <div class="social">
        <div class="go"><i class="fab fa-google"></i>Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>facebook</div>
      </div>
    </form>
  </body>
</html>
